# Activar RewriteEngine
RewriteEngine on


# Reescribir la URL solicitada por el usuario
#   Entrada:  clientes/NOMBRE/
#   Salida: clientes.php?id=NOMBRE

#   Pagina de logotipos
RewriteRule ^logotipos$ modulos/logos.php
RewriteRule ^aplicaciones$ modulos/aplicaciones.php
RewriteRule ^paginas$ modulos/paginas.php
